.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex; лежит в popup__opened*/
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: none;
}

.imposter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* display: none; будет когда я прикреплю слушателя */

  display: none;
}

.imposter__opened {
  display: flex;
}
