.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: relative;
  background: url(../../../images/__avatar.jpg) no-repeat center/cover;
  align-self: center;
}

.profile__avatar:hover  {
  cursor: pointer;
  opacity: .8;
  transition: opacity .5s linear;
}

.profile__avatar::after {
  content: url(../../../images/__edit-avatar.svg);
  width: 26px;
  height: 26px;
  position: absolute;
  top: 47px;
  left: 47px;
  opacity: 0;
}

.profile__avatar:hover::after {
  opacity: 1;
}


