.popup__close-icon {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -42px;
  left: 438px;
  background: rgba(0, 0, 0, 0);
  background-image: url(../../../images/__close-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: url(../../../images/__cursor.svg), pointer;
}

.popup__close-icon:hover {
  opacity: 0.6;
  transition: opacity .5s linear;
}

@media screen and (max-width: 1280px) {
  .popup__close-icon {
    width: calc(20px + ((100vw - 320px) / (1280 - 320)) * (32 - 20));
    height: calc(20px + ((100vw - 320px) / (1280 - 320)) * (32 - 20));
    top: calc(-36px + ((100vw - 320px) / (1280 - 320)) * (-36 + 42));
    left: calc(262px + ((100vw - 320px) / (1280 - 320)) * (438 - 262));
  }
}

/* Как вариант гридом, размеры ячейки с картинкой - min-content (по вертикали и горизонтали). gap не задаем, а крестику и подписи назначаем соответствующие отступы. */
/* .popup_grid {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-rows: 1fr min-content;
  grid-template-areas:
  '. close'
  'image .'
} */
.popup__yet-another-container {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;

}

.popup__close-button {
  /* grid-area: close; */
  position: static;
  align-self: flex-end;
  top: none;
  left: none;
  /* position: relative; */
  /* right: -8px; */
  /* top: -8px; */
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;

}

