.element__container {
  width: 246px;
  /* Задавать высоту элементам допустимо в том случае, если нет других способов решить эту проблему (например, для фоновой подложки определенной высоты). Здесь в этом нет необходимости, высота элемента задается отступами и контентом внутри него */
  /* min-height: 23px; */
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
